body {
    display: grid;
    place-items: center;
}

.gameTable {
    display: flex;
    justify-content: center;
    align-content: center;
    background: green;
    width: 100dvw;
    height: 60dvh;
    gap: 4rem;
    margin: 2rem auto;
}

.players {
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
    height: 200px;
}